<div class="container-fluid">
  <div class="row-fluid">
    <div id="current" class="span6">
      <div class="title">
        <h2 id="product_title">Product name</h2>
      </div>

      <div class="row-fluid">
        <div class="image_container span9">
          <img id="product_image"/>
        </div>

        <div class="general_status span3">
          <ul id="bids" >
          </ul>
      </div>

      <div class="row-fluid">
        <div class="current_price span12">
          <h3>High bid: $<span id="high_bid">0.00</span> by <span id="high_bidder">someone</span></h3>
        </div>
      </div>

      <div id="bid_buttons" class="row-fluid">
        <div class="span4"><button value="100" class="btn btn-primary">$100</button></div>
        <div class="span4"><button value="500" class="btn btn-warning">$500</button></div>
        <div class="span4"><button value="1000" class="btn btn-danger">$1000</button></div>
      </div>
    </div>

    <div id="queue" class="span3">
    </div>
  </div>
</div>
<div id="loading">
  <div>Wait for a new auction</div>
</div>

<script id="bid-event" type="text/html">
  <li>
    {{bidder}} offers ${{amount}}
  </li>
</script>

<script type="text/javascript">
  $.Mustache.addFromDom();
  Auction.initialize();

  $(document).ready(function() {
    var username;
    do {
      var username = prompt("Your name:");
      if (username == "")
        alert("Don't be stupid. Enter your name...");
    } while (username == "");
    Auction.connect(username, "<%= connect_url(protocol: 'ws') %>");
  });

</script>
